<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav>
    <button mat-button (click)="sidenav.close()">Close</button>
    <mat-nav-list>
        <a mat-list-item routerLink="." >Home</a>
        <a mat-list-item routerLink="/studentList" >Student List</a>
      </mat-nav-list>

    </mat-sidenav>
  </mat-sidenav-container>
  <mat-icon svgIcon="split-view" class="sidenav-icon" (click)="sidenav.open()"></mat-icon>