.mat-drawer-container{
    position: initial;
}
.sidenav-icon{
    position: relative;
    top:10px;
    left:30px;
    height: 50px;
    width:50px;
}

.mat-drawer:not(.mat-drawer-side) {
  text-align:center;
}
.mat-drawer:not(.mat-drawer-side) {
    padding:30px;

}
.mat-nav-list > * {
    letter-spacing: 4px;
    font-weight: 200;
    margin-top:5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size:1.2rem;
}