<div class="card" >
    <div class="card-body">
      <h5 class="card-title">| {{student.idNumber}} | {{student.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{student.age}} Years old</h6>
      <p class="card-text">Address: {{student.address}}</p>
      <p class="card-text">Lessons: {{student.lessons}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>