<app-navbar></app-navbar>
<div class="container">
    <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12">
                    <router-outlet></router-outlet>
                </div>
    </div>
</div>
